<br>
<div style="text-align:center; padding:10px; font-family: 'Pangolin';
        font-size: 48px;">
  <label for="Tasks">All Employees</label>
  <hr>
</div>
<br>
<ul class="list-group">
  {{#each employees}}
    <a href="/employees/{{id}}" style="background-color:#CC3232; color:white; opacity:0.90" class="list-group-item">
      <div class="row">
        <div class="col-md-2">
            <b style="color:black">Employee ID:</b> {{id}}
        </div>
          <div class="col-md-2">
              <b style="color:black">Name:</b> {{name}}
          </div>
      </div>
    </a>
  {{/each}}
</ul>
<div style="text-align:center; margin-top:10px" class="row">
  <div class="col-md-5">
  </div>
  <div class="col-md-1">
    <a class="btn btn-primary btn-md" href="/employees/new">
      New Employee
    </a>
  </div>
</div>
