<br>
<div style="text-align:center; padding-top:10px; font-family: 'Pangolin' , serif;
        font-size: 42px;">
  <label for="Welcome">Welcome To The Project Management System</label>
</div>
<br>
<div class="form-group">
  <div class="row">
    <div class="col-md-12">
      <a class="btn btn-primary btn-md form-control" style="padding:40px; margin-top:20px; font-family: 'Pangolin' , serif;font-size: 30px;" href="/projects/" role="button">Projects</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <a class="btn btn-info btn-md form-control" style="padding:40px; margin-top:20px; font-family: 'Pangolin' , serif;font-size: 30px;" href="/tasks" role="button">Tasks</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <a class="btn btn-warning btn-md form-control" style="padding:40px; margin-top:20px; font-family: 'Pangolin' , serif;font-size: 30px;" href="/managers" role="button">Managers</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <a class="btn btn-danger btn-md form-control " style="padding:40px; margin-top:20px; font-family: 'Pangolin' , serif;font-size: 30px;" href="/employees" role="button">Employees</a>
    </div>
  </div>
</div>
